// made with material io color tool https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=FAFAFA
$color-primary: #424242;
$color-primary-light: #6d6d6d;
$color-primary-dark: #1b1b1b;

$color-secondary: #fafafa;
$color-secondary-light: #ffffff;
$color-secondary-dark: #c7c7c7;

$color-danger: #d50000;
$color-success: #00c853;
$color-info: #81d4fa;
